#title {
    color: blue;
    text-align: center;
    font-weight: bold;
    text-decoration: underline;
    font-size: x-large;
}

* {
    background-color: lightyellow;
}

.paragraphs {
    font-size: large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;

}
